body {
    background-color: cornflowerblue;
    z-index: 1;
}

header {
    height: 20vh;
    width: 80vw;
    margin: auto;
    background-color: purple;
}

header>h1 {
    padding-right: 20vw;
    padding-left: 32vw;
    padding-top: 4vh;
}

header>h2 {
    padding-left: 28.5vw;
    padding-right: 1vw;
}

.summary p {
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.preamble {
    margin-top: 3vh;
    height: 75vh;
    width: 16vw;
    float: left;
    background-color: darkred;
    z-index: 2;
}

.preamble p {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#zen-supporting {
    margin-left: 20vw;
}

.design-list img {
    height: 20vh;
    width: 15vw;
}

.design-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

.design-list li {
    padding-top: 5vh;
}

figcaption {
    margin-top: 1vh;
}

.footer {
    width: 100%;
    background: tomato;
    display: flex;
}

.archives {
    color: white;
}

.resources {
    color: white;
}

.design-archives {
    padding-left: 5vw;
}

.zen-resources {
    padding-left: 60vw;
}
